<div class="p-2">
  <button mat-flat-button color="accent" (click)="openAddDailyUpdateDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>Add
  </button>
</div>

<mat-card>
  <mat-card-content>
    <mat-card-title>Daily Updates</mat-card-title>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let dailyUpdate of dailyUpdates" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{dailyUpdate.createdAt | date}} </mat-panel-title>
          <mat-panel-description> {{dailyUpdate.work}}
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-4">
            <div class="p-2">
              <label><b>Work: </b></label>
              {{ dailyUpdate.work }}
            </div>

            <div class="p-2" *ngIf="dailyUpdate.work === 'Learning'">
              <label><b>Skill Title: </b></label>
              {{ dailyUpdate.skill_title }}
            </div>

            <div class="p-2" *ngIf="dailyUpdate.work === 'Project'">
              <label><b>Project Type: </b></label>
              {{ dailyUpdate.project_type }}
            </div>

            <div class="p-2"
              *ngIf="dailyUpdate.work === 'Project' && dailyUpdate.project && dailyUpdate.project.length > 0">
              <label><b>Project: </b></label>
              {{ dailyUpdate.project[0].title }}
            </div>

            <div class="p-2">
              <label><b>Hours: </b></label>
              {{ dailyUpdate.hours }}
            </div>
          </div>

          <div class="col-8">
            <div>
              <label><b>Update Content: </b></label>
              <div class="preserve-whitespace">{{dailyUpdate.update_content}}</div>
            </div>
          </div>
        </div>

        <mat-action-row *ngIf="isToday(dailyUpdate?.createdAt)">
          <button mat-button color="primary" (click)="openUpdateDailyUpdateDialog(dailyUpdate)">Update
            <mat-icon>edit</mat-icon></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
