<div class="main-container">
  <mat-toolbar [ngClass]="{ 'admin-color': userRole === 'admin', 'employee-color': userRole === 'employee' }"
    class="topbar telative">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img src="assets/images/logo-icon.svg" alt="homepage" class="dark-logo">
          <img src="assets/images/logo-light-icon.svg" alt="homepage" class="light-logo">
        </b>
        <span class="text-logo-icon heading-color" fxShow="false" fxShow.gt-xs>
          <h3>EMS</h3>
        </span> </a>
    </div>
    <button mat-icon-button class="heading-color" (click)="snav.toggle()" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <app-header class="d-flex align-items-center ml-auto"></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
      fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper">
      <div class="page-content">
        <router-outlet><app-spinner></app-spinner></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
