
.active-admin {
  background-color: #26c6da;
  border-radius: 10px;
  color: white !important;
}

.active-employee {
  background-color:  rgb(10, 72, 80);
  border-radius: 10px;
  color: white !important;
}
