@if(loading$ | async){
<app-spinner></app-spinner>
}

<mat-card>
  <div class="search-filter-section">
    <div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="searchControl.value" (input)="onSearch($event)"
          placeholder="Search Employee by Name">
      </mat-form-field>
    </div>

    <div>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Employee Type</mat-label>
            <mat-select [(ngModel)]="selectedEmpType" (selectionChange)="applyFilters()" className="select-field">
              <mat-option *ngFor="let empType of empTypeList" [value]="empType.value">
                {{ empType.displayValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Technologies</mat-label>
            <mat-select [(ngModel)]="selectedworkedTechnologies" (selectionChange)="applyFilters()" multiple>
              <mat-option *ngFor="let workedTechnology of workedTechnologies" [value]="workedTechnology.value">{{
                workedTechnology.displayValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <button mat-flat-button color="warn" (click)="onClearFilters()">Clear Filters</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let employee of employees" [colspan]="1" [rowspan]="3" [style.background]="'white'">
    <mat-card class="emp-card text-center" (click)="openUpdateEmployeeStatusDialog(employee)">
      <mat-card-content>
        <div class="pro-img">
          <img *ngIf="employee.photoUrl" [src]="employee.photoUrl" alt="{{ employee.name }}" width="100" height="100"
            class="img-circle">
        </div>
        <b>{{employee.name}}</b>
        <div>{{employee.email}}</div>
        <div>{{employee.emp_type.replace('_', ' ')}}</div>
        <div>{{employee.worked_technologies}}</div>
        <b>{{employee.status}}
          <div
            [ngClass]="{'status-active-circle': employee.status === 'Active', 'status-inactive-circle': employee.status === 'Inactive'}">
          </div>
        </b>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
