body,
html {
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  width: 150%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 1199px) {
    max-width: 920px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 16px;
  }
}

.mat-form-field {
  width: 100%;
}

.heading {
  color: rgb(0, 0, 0);
}

.validation {
  color: #e91e63;
  font-size: 12px;
  font-weight: 400;
}

.create-link {
  color: rgb(0, 0, 0);
}

.form-main-wrapper {
  margin: auto;
}

.profile-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.img-wrap {
  .preview-img {
    width: 100px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.position-end {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
