<mat-card>
  <mat-card-content>
    <mat-card-title>Daily Updates</mat-card-title>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        *ngFor="let group of groupedDailyUpdates; trackBy: trackByEmployeeId"
        hideToggle="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ group.emp.name }}</mat-panel-title>
          <mat-panel-description>
            Total Updates: {{ group.updates.length }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-employee-daily-updates-table [updates]="group.updates"></app-employee-daily-updates-table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
